#pklist{
    color: black;
}
#notice{
    color: red;
}
#pokemonList{
    display: block;
    margin: 10px;
   
}
#infoContainer{
    
    line-height: 25px;
    display: block;
    text-align: justify;
    
}

#infoContainer, #infoSkill{
    width: 75%;

}

th{
    background-color: skyblue;
}
header{
    background-color: #FF8484;
    width: 100%;
}

